<style type="text/css">
<!-- Custom styles must be declared first, otherwise IE fails -->

/*Here are the basic colors used: */
/*
white: #FFFFFF
black: #000000
dark blue: #8C92C6 -- Used for  * Inner panel title bar
								* Search, List title bars
								* Menu background
light blue: #EAEAF6 -- Used for alternate row colors in a table
dark gray: #969696 -- Used for disabled inner panels
light gray: #E0E0E0 -- Used for table headings
popup shadow gray: #606060 -- Used for shadow of popup menus like view popup in detail titlebar
red: #FF0000 -- Used to set the border of a text box when user has typed in invalid data
blue: #0000FF -- Used to signify special fields where change is not allowed as per system settings, but current 
				user has permissions to override the settings and go ahead and perform the change
*/

<!--ONLY THE FOLLOWING STYLES ARE AVAILABLE TO UI TEAM.-->

<!--	Calendar Styles - Start		-->

.CalTitle	{
      color            : #00009F  ;
      font-family      : Tahoma    ;
      font-size        : 8pt     ;
      font-weight      : bold     ;
      text-align       : center   ;
      height           : 1        ;
      width            : 100%     ;
      background-color : lightgrey;
}

.WholeCalendar	{
      background-color : lightgrey        ;
      border           : 1px black  ;
      border-top     : 1px white  ;
      border-left     : 1px white  ;
      cursor           : default          ;
	  width            : 180px             ;
      height           : 180px             ;	
}

.DateControls	{
      text-align : right ;
}

.CalTable	{
      border : 1  black ;
      width  : 100%          ;
      height : 100%          ;
}

.DayTitle	 {
      background-color    : #E0E0E0 ;
      color               : black     ;
      font-family         : Tahoma     ;
      font-size           : 8pt       ;
      font-weight         : bold      ;
      text-align          : center    ;
      border-width        : 1px       ;
      border-style        : solid     ;
      border-left-color   : white     ;
      border-top-color    : white     ;
      border-right-color  : black     ;
      border-bottom-color : black     ;
      width               : 14%       ;
      height              : 1         ;
}

.OffDay	{
      background-color    : #8C92C6 ;
      color               : #7F7F7F   ;
      font-family         : Tahoma     ;
      font-size           : 8pt       ;
      font-weight         : normal    ;
      text-align          : center     ;
      vertical-align      : text-middle  ;
      border-width        : 1px       ;
      border-style        : solid     ;
      border-left-color   : white     ;
      border-top-color    : white     ;
      border-right-color  : black     ;
      border-bottom-color : black     ;
      width               : 14%       ;
      cursor              : hand      ;
      height              : 1         ;
}

.Day	{
      background-color    : #8C92C6 ;
      color               : #00009F   ;
      font-family         : Tahoma     ;
      font-size           : 8pt       ;
      font-weight         : normal    ;
      text-align          : center     ;
      vertical-align      : text-middle  ;
      border-width        : 1px       ;
      border-style        : solid     ;
      border-left-color   : white     ;
      border-top-color    : white     ;
      border-right-color  : black     ;
      border-bottom-color : black     ;
      width               : 14%       ;
      cursor              : hand      ;
      height              : 1         ;
}

.DaySelected	{
      background-color    : darkblue  ;
      color               : #8C92C6   ;
      font-family         : Tahoma    ;
      font-size           : 8pt      ;
      font-weight         : normal   ;
      text-align          : center    ;
      vertical-align      : text-middle ;
      border-width        : 1px      ;
      border-style        : solid    ;
      border-left-color   : black    ;
      border-top-color    : black    ;
      border-right-color  : #BFBFBF  ;
      border-bottom-color : #BFBFBF  ;
      width               : 14%       ;
      cursor              : hand     ;
      height              : 1         ;
}

<!--	Calendar Styles - End		-->

.anchor {
	width:100%;
	border:0;
}


.totaltext {
	text-align: right;
	background-color: #EAEAF6;
	border: 1 ridge;
	font-size: 11;
	font-family: Tahoma;
	font-weight: normal;
	vertical-align: top;
}

.protectedtext {
	font-size: 11;
	font-family: Tahoma;
    font-weight: normal;
    color: #000000;
	border: 0;
	height: 17px;
}


.protectednumber {
	font-size: 11;
	font-family: Tahoma;
    font-weight: normal;
    color: #000000;
	border: 0;
	height: 17px;
    text-align: right;
}

.protectedinput {
    background-color: transparent;
    font-size: 11;
    font-family: Tahoma;
    color: #000000;
    border: 0;
    height: 17px;
}

.protectedtextareainput {
    background-color: transparent;
    font-size: 11;
    font-family: Tahoma;
    border: 0;
}

.numericprotectedinput {
    background-color: transparent;
    font-size: 11;
    font-family: Tahoma;
    color: #000000;
    border: 0;
    height: 17px;
    text-align: right;
}

.unprotectedinput   {
    font-size: 11;
    font-family: Tahoma;
    border: 1px solid #8C92C6;
    height: 17px;
}

.unprotectedoverrideinput   {
    font-size: 11;
    font-family: Tahoma;
    border: 1px solid #8C92C6;
    height: 17px;
    background-color: #EAEAF6;
}

.unprotectedtextareainput   {
    font-size: 11;
    font-family: Tahoma;
    border: 1px solid #8C92C6;
}

.unprotectedoverridetextareainput   {
    font-size: 11;
    font-family: Tahoma;
    border: 1px solid #8C92C6;
    background-color: #EAEAF6;
}

.numericunprotectedinput   {
    font-size: 11;
    font-family: Tahoma;
    border: 1px solid #8C92C6;
    height: 17px;
    text-align: right;
}

.numericunprotectedoverrideinput   {
    font-size: 11;
    font-family: Tahoma;
    border: 1px solid #8C92C6;
    height: 17px;
    text-align: right;
    background-color: #EAEAF6;
}

.radiobutton    {        
}

.checkboxheader {
	background-color: #E0E0E0;
    border: 1px solid outset;
    width: 23px;
}

.checkboxcolumn {
	padding-left: 1px;
	padding-right: 1px;
    width: 23px;
    vertical-align: top;
}

.checkbox {
}

.icon {
	border:0;
	font-size:9;
	cursor:hand;
}

.columnicon {
	border:0;
	font-size:9;
	cursor:hand;
}

.lookupicon {
	border:0;
	font-size:9;
	cursor:hand;
}

.lookupiconheader {
	padding-left: 1px;
	padding-right: 1px;
	background-color: #E0E0E0;
    border: 1px solid outset;
	height: 23px;
    text-align: left;
	width:17px;
}

.combobox {
    /* behavior: url(../css/listbox.htc); */
    font-size: 11;
    font-family: Tahoma;
    height: 17px;
    /* display: none; */
}

.comboboxoverride {
	/*behavior: url(../css/listbox.htc);*/
    font-size: 11;
    font-family: Tahoma;
    height: 17px;
    background-color: #EAEAF6;
}

.flatcombobox {
	background-color:#FFFFFF;
	color:#8C92C6;
	font:normal normal normal 8pt Tahoma;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	border-top:0px;
	padding:0px;    	
}

.flatcomboboxoverride {
	background-color:#EAEAF6;
	color:#8C92C6;
	font:normal normal normal 8pt Tahoma;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	border-top:0px;
	padding:0px;    	
}

.flatcomboboxpopup {
	border:1px solid #8C92C6;
	font:normal normal normal 8pt Tahoma;
	height:150px;
	overflow:auto;
	scrollbar-3dlight-color:#8C92C6;
	scrollbar-arrow-color:#E0E0E0;
	scrollbar-base-color:#8C92C6;
	scrollbar-darkshadow-color:#8C92C6;
	scrollbar-face-color:#8C92C6;
	scrollbar-highlight-color:#E0E0E0;
	scrollbar-shadow-color:#E0E0E0;
}

.flatcomboboxoption {
	padding:2px;
	width:100%;
	cursor:hand;
	color:#000000
}

.table  {
    behavior: url(../HTML/css/table.htc) ;
    padding:0;
    font-size: 11;
	font-family: Tahoma;
	font-weight: normal;
    color: #000000;
    width: 100%;
    border: 0;
}

.simpletable  {
    padding:0;
    font-size: 11;
	font-family: Tahoma;
	font-weight: normal;
    color: #000000;
    width: 100%;
    border: 0;
}

.view {
    behavior: url(../HTML/css/view.htc);
    font-size: 11;
	font-family: Tahoma;
    font-weight: bold;
    color: #8C92C6;
	padding-left: 5px;
    border-width: 0;
}

.tablecolumn{
    padding-left:2px; 
    padding-right:2px; 
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: top;
    text-align: left;
}

.numerictablecolumn{
    padding-left:2px; 
    padding-right:2px; 
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: top;
    text-align: right;
}

.numerictablecolumnshortagerow{
    padding-left:2px; 
    padding-right:2px; 
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: top;
    text-align: right;
    background-color: #FF6F72;
}

.tablecolumnheader {
    border-left:1px solid buttonhighlight;
    border-right:1px solid buttonshadow;
    border-top:1px solid buttonhighlight;
    border-bottom:1px solid buttonshadow;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-top: 0px;
    PADDING-bottom: 0px;
    VERTICAL-ALIGN: middle;
    CURSOR: hand;
    BACKGROUND-COLOR: #e0e0e0;
    TEXT-ALIGN: left

}

.tablecolumnheadernosort {
    border-left:1px solid buttonhighlight;
    border-right:1px solid buttonshadow;
    border-top:1px solid buttonhighlight;
    border-bottom:1px solid buttonshadow;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-top: 0px;
    PADDING-bottom: 0px;
    VERTICAL-ALIGN: middle;
    BACKGROUND-COLOR: #e0e0e0;
    TEXT-ALIGN: left

}


.numerictablecolumnheader {
    border-left:1px solid buttonhighlight;
    border-right:1px solid buttonshadow;
    border-top:1px solid buttonhighlight;
    border-bottom:1px solid buttonshadow;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-top: 0px;
    PADDING-bottom: 0px;
    VERTICAL-ALIGN: middle;
    CURSOR: hand;
    BACKGROUND-COLOR: #e0e0e0;
    text-align: left;
}

.dateinput   {
    font-size: 11;
    font-family: Tahoma;
    border: 1px solid #8C92C6;
    height: 17px;
}


/* THE FOLLOWING STYLES ARE NOT AVAILABLE FOR USE BY THE UI TEAM.  */

/* Used by inventory */
.graphborder {
	border-bottom : solid #969696;
	border-left : solid #969696;
	border-right : solid #969696;
	border-top : solid #969696;
}

/* Used by yfc */
.popuptitle {
	font-size : 11;
	font-family : Tahoma;
	font-weight : bold;
	height:20px;
}

/* Used by yfc */
.search		{
	background-color:#FFFFFF;
}
.searchcriteria		{
	background-color: #FFFFFF;
	font-size: 11;
}
.searchbody	{
    color: #8C92C6;
}
.searchcriteriacell	{
    color: #8C92C6;
}
.savesearchname	{
	padding-left:4px;
}
.innerpaneltitle{
    background-color: #8C92C6;
    color: #FFFFFF;
	font:normal normal bold 11pt Tahoma; 
	text-align: left;
	height:20px;
}
.action{
	background-color:#8C92C6;
	font-size :11;
	text-align : left;
}
.portlet{
	border : 1 solid #8C92C6;
	background-color:#FFFFFF;
	font-size:11;
	font-family : Tahoma;
}
.loginportlet{
	border : 1 solid #8C92C6;
	font-size:11;
	font-family : Tahoma;
}
.views {
	font-size : x-small;
	background-color:#8C92C6;
	font-weight : bold;
}

.oddrow {
	background-color : #EAEAF6;
	height:20px;
}

.evenrow {
	background-color: transparent;
	height: 20px;
}

.portletbody {
	background-color: #FFFFFF;
}

.protectedlink {
	text-decoration : none;
	cursor : default;
	color : Black;	
}

.protectedlink:hover {
	color:Black;
}

<!-- Redefine standard types here -->

body		{
	font-size:9;
	font-family : Tahoma;
	margin : 0;
}

a:hover {
	color: #FF0000;
}
a {
	color: #0000FF;
}
a:visited {
    color: #0000FF;
}

legend {
	font-size : 11;
	font-family : Tahoma;
	color: #000000;
}

textarea   {
	scrollbar-3dlight-color:#8C92C6;
	scrollbar-arrow-color:#E0E0E0;
	scrollbar-base-color:#8C92C6;
	scrollbar-darkshadow-color:#8C92C6;
	scrollbar-face-color:#8C92C6;
	scrollbar-highlight-color:#E0E0E0;
	scrollbar-shadow-color:#E0E0E0;
}

div {
	scrollbar-3dlight-color:#8C92C6;
	scrollbar-arrow-color:#E0E0E0;
	scrollbar-base-color:#8C92C6;
	scrollbar-darkshadow-color:#8C92C6;
	scrollbar-face-color:#8C92C6;
	scrollbar-highlight-color:#E0E0E0;
	scrollbar-shadow-color:#E0E0E0;
}

.simpleinput   {
    /* This is used when you want a simple text box, without any yfc behavior attached. */
    font: normal normal normal 8pt Tahoma;
	border-color:#8C92C6; 
	border-width:1px; 
	border-style:solid; 
}
.tablefooterinput {
	/* This is used for inputs that can be added to the table footer. */
    font: normal normal normal 7pt Tahoma;
	font-weight: normal;
	border-color:#8C92C6; 
	border-width:1px; 
	border-style:solid; 
}
.tablefooter{
	border-top:1px solid;
	padding-left:4px;
	border-color:#8C92C6; 
	background-color: #E0E0E0;
	font-size :9;
	font-family: Tahoma
}
.button {
	background-color: #FFFFFF;
	color: #000000;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#C0C0C0);
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 2px solid #8C92C6;
	font: normal normal bold 8pt Tahoma;
}
.detaillabel {
	font:normal normal bold 8pt Tahoma; 
	text-align:right; 
	color:#8C92C6;
        padding-right:5px;
}

.searchlabel {
	font:normal normal bold 8pt Arial Unicode MS; 
	text-align:left; 
	color:#8C92C6
}

.page {
	background-color:#000000;
}
.iphelp {
	width:19px;
}
.loginiptitle {
	font:normal normal normal 13pt Tahoma; 
	background-color:#8C92C6; 
	color:#FFFFFF;
	width:292px;
}
.loginbutton {
	background-color: #FFFFFF;
	color: #000000;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#C0C0C0);
	border-bottom: 2px solid #8C92C6;
	font: normal normal bold 8pt Tahoma;
}
.ipcornerarea {
	position:relative;
	padding-left:3px;
	padding-top:3px;
	width:8px;
	height:2px;
}
.ipcornerbgsearch {
	position:absolute;
	font:normal normal normal 0pt Tahoma;
	background-color:#969696;
	width:1px;
	height:1px;
}
.ipcornerbg {
	position:absolute;
	left:2;
	top:5;
	font:normal normal normal 0pt Tahoma;
	background-color:#969696;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#8C92C6);
	width:10px;
	height:11px;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-top:1px solid #FFFFFF;
	border-left:1px solid #FFFFFF;
}
.ipcornerfggray {
	position:absolute;
	font:normal normal normal 0pt Tahoma;
	background-color:#969696;
	width:1px;
	height:1px;
}
.ipcornerhandlefg {
	position:absolute;
	font:normal normal normal 0pt Tahoma;
	background-color:#EAEAF6;
	width:1px;
	height:1px;
}
.ipcornerhandlebg {
	position:absolute;
	font:normal normal normal 0pt Tahoma;
	background-color:#000000;
	width:1px;
	height:1px;
}
.ipimage	{
	cursor:hand;
}
.coolBar	{
	background: #8C92C6;
	padding: 0px; 
	font:normal normal bold 8pt Tahoma;;
}
.coolButton {
	color:white; 
	border:1px solid #8C92C6; 
	padding-top=0px;
	padding-left=5px;
	padding-bottom=0px;
	padding-right=5px;
	text-align: center; 
	cursor: default;
}
.grayCoolButton {
	color:#E0E0E0; 
	border:0px solid #8C92C6; 
	padding-top=0px;
	padding-left=5px;
	padding-bottom=0px;
	padding-right=5px;
	text-align: center; 
	cursor: default;
}
.coolButton IMG	{
	/* filter: gray();*/
}
.pagetitleline1	{
	position:absolute;
	left:9;
	top:-8;
	width:26px;
	height:1px;
	font:normal normal normal 0pt Tahoma;
	background-color:#E0E0E0;
}
.pagetitleline2	{
	position:absolute;
	left:45;
	top:-8;
	width:94%;
	height:1px;
	font:normal normal normal 0pt Tahoma;
	background-color:#E0E0E0;
}
.pagetitlebutton	{
	font:normal normal bold 8pt Tahoma;
	text-align:right;
	width:20%;
}
.pagetitletext {
	align:left;
}
.pagetitle {
	color:#8C92C6;
	padding-top:9px;
	font:normal normal normal 13pt Tahoma;
}
.pagetitle3	{
	color:#8C92C6;
	font:normal normal bold 8pt Tahoma;
	padding-left:5px;
	padding-top:5px;
}
.pagetitle4	{
	cursor:hand;
	vertical-align:bottom;
	padding-top:11px;
}
.pagetitleview {
	font:normal normal bold 8pt Tahoma;
	padding-left:5px;
}
.pagereccount {
	font:normal normal bold 8pt Tahoma;
	color:#8C92C6;
	text-align:right;
	align:right;
	padding-top:12px;
}
.pagereccount2 {
	font:normal normal bold 10pt Tahoma;
	color:#8C92C6;
	text-align:right;
	align:right;
	padding-top:6px;
}
.pagetitleicon {
	width:7%;
	padding-top:13px;
	padding-left:25px;
}
.pagetitleviewicon	{
	cursor:hand;
}
.pagetitle1	{
	position:relative;
}
.pagetitle2	{
	height:30px;
}
.pagetitlearea {
	position:relative;	
	width:99%;
	height:40px;
	background-color:#FFFFFF;
}
.pagetitlesavebtnarea {
	font:normal normal bold 8pt Tahoma;
	position:absolute;
	top:10;
	left:92%;
 }
 
.pagetitleshufflearea {
	font:normal normal bold 8pt Tahoma;
	position:absolute;
	top:10;
	left:70%;
 }
 
.iptitle {
	font:normal normal normal 13pt Tahoma; 
	background-color:#8C92C6; 
	color:#FFFFFF;
	height:20px;
}
.ipcornerclosed {
	height:20px;
	background-color:#969696; 
	filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1, xray=0, mirror=0, invert=0, opacity=1, rotation=0),;
 }
.iptitleclosed {
	font:normal normal normal 13pt Tahoma; 
	background-color:#969696; 
	color:#FFFFFF; 
	height:20px;
}
.iphelp {
	width:19px
}
.ipclose {
	width:16px; 
	padding-left:2px; 
	padding-right:2px; 
	padding-top:0px; 
	padding-bottom:0px;
	vertical-align:middle;
 }
.ipclosefliped {
	width:16px;
	filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1, xray=0, mirror=0, invert=0, opacity=1, rotation=2),;
 }
.ipbody {
	width:100%; 
	font:normal normal normal 8pt Tahoma; }
.iptitlecorner {
	width:8px; 
	background-color:#8C92C6; 
	VERTICAL-ALIGN:top;
}

/*		Search  classes	*/
.searchsidebarmain	{
	position: relative;
	height: 100%;
	width: 20px;
}
.searchsidebarbottom	{
	position: absolute;
	width: 6px;
	left: 0px;
	top: 175px;
	height: 100%;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=90, Strength=5);
	background-color: #969696;
	font: normal normal normal 0pt Tahoma;
	z-index: 2;
}
.searchsidebartop	 {
	position: absolute;
	width: 17px;
	top: 0px;
	left: 0px;
	height: 180px;
	background-color: #969696;
	cursor: hand;
}
.searchsidebarcornerlinedark {
	position: absolute;
	left: 4;
	top: 10;
	width: 1px;
	font: normal normal normal 0pt Tahoma;
	background-color: #000000;
}
.searchsidebarcornerlinelight {
	position: absolute;
	left: 4;
	top: 10;
	width: 1px;
	font: normal normal normal 0pt Tahoma;
	background-color: #E0E0E0;
}
.searchsidebaricon	{
	position: absolute;
	border: 0;
	font-size: 9;
	left: 3;
	top: 160;
	width: 12px;
}
.searchsidebarcorner	 {
	position: absolute;
	left: 3px;
	top: 180px;
	height: 17px;
	width: 14px;
}
.searchcornerbg {
	position:absolute;
	font:normal normal normal 0pt Tahoma;
	background-color:#FFFFFF;
	width:1px;
	height:1px;
}
.searchcornerfg {
	position:absolute;
	font:normal normal normal 0pt Tahoma;
	background-color:#969696;
	width:1px;
	height:1px;
}
.searchinnerpaneltitle	{
    background-color: #8C92C6;
    color: #FFFFFF;
	font-size: 11;
	font-weight: bold;
	text-align: left;
	height:20px;
}
.searchscreentitle		{
	background-color:#969696;
	border:0;
	font-size : x-small;
	font-weight : bold;
	padding-bottom: 0px;
}
.favouritespanel	{
	padding-top: 3px;
	padding-left: 2px;
	padding-right: 2px;
}
.favouritespopup	{
	visibility: hidden;
	position: absolute;
	border: 1px solid #FFFFFF;
}
.favouritespopupscroll    {
    scrollbar-3dlight-color:#969696;
    scrollbar-arrow-color:#E0E0E0;
    scrollbar-base-color:#969696;
    scrollbar-darkshadow-color:#969696;
    scrollbar-face-color:#969696;
    scrollbar-highlight-color:#E0E0E0;
    scrollbar-shadow-color:#E0E0E0;
}
.favouritespopuprownormal	 	{
	position: relative; 
	background-color: #969696; 
	color: #FFFFFF; 
	padding: 2px; 
	cursor: hand;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 4px;
	font: normal normal bold 8pt Tahoma;
	charheight:19;
	charwidth:7;
}
.favouritespopuprowhighlight 	{
	position: relative; 
	background-color: #8C92C6; 
	color: #FFFFFF; 
	padding: 2px; 
	cursor: hand;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 4px;
	font: normal normal bold 8pt Tahoma;
	charheight:19;
	charwidth:7;
}
.searchviewswitchicon	 {
	background-color: #8C92C6;
	cursor: hand;
}
.searchentitiespopup	{
	visibility: hidden;
	position: absolute;
	border: 1px solid #FFFFFF;
}

.searchentitiespopuprowscroll    {
    scrollbar-3dlight-color:#8C92C6;
    scrollbar-arrow-color:#E0E0E0;
    scrollbar-base-color:#8C92C6;
    scrollbar-darkshadow-color:#8C92C6;
    scrollbar-face-color:#8C92C6;
    scrollbar-highlight-color:#E0E0E0;
    scrollbar-shadow-color:#E0E0E0;
}

.searchentitiespopuprownormal	{
	position: relative; 
	background: #8C92C6; 
	color: #FFFFFF; 
	font-family: Tahoma; 
	font-weight: bold; 
	padding: 2px; 
	padding-left: 10px;
	padding-right: 10px; 
	font-size: 8pt; 
	cursor: hand;
	charheight:18;
	charwidth:7;
}
.searchentitiespopuprowhighlight	{
	position: relative; 
	background: #000000; 
	color: #FFFFFF; 
	font-family: Tahoma; 
	font-weight: bold; 
	padding: 2px; 
	padding-left: 10px;
	padding-right: 10px; 
	font-size: 8pt; 
	cursor: hand;
	charheight:18;
	charwidth:7;
}
.searchviewspopup	{
	visibility: hidden;
	position: absolute;
	border: 1px solid #FFFFFF;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=180, Strength=5);
	padding-bottom: 2px;
}

.searchviewspopuprowscroll  {
    scrollbar-3dlight-color:#8C92C6;
    scrollbar-arrow-color:#E0E0E0;
    scrollbar-base-color:#8C92C6;
    scrollbar-darkshadow-color:#8C92C6;
    scrollbar-face-color:#8C92C6;
    scrollbar-highlight-color:#E0E0E0;
    scrollbar-shadow-color:#E0E0E0;
}

.searchviewspopuprownormal	{
	position: relative; 
	background: #8C92C6; 
	color: #FFFFFF; 
	font-family: Tahoma; 
	font-weight: bold; 
	padding: 2px; 
	padding-left: 10px;
	padding-right: 10px; 
	font-size: 8pt;
	cursor: hand;
	text-align: right;
	charheight:16;
	charwidth:7;
}
.searchviewspopuprowhighlight	{
	position: relative; 
	background: #000000; 
	color: #FFFFFF; 
	font-family: Tahoma; 
	font-weight: bold; 
	padding: 2px; 
	padding-left: 10px;
	padding-right: 10px; 
	font-size: 8pt;
	cursor: hand;
	text-align: right;
	charheight:16;
	charwidth:7;
}
.searchbuttons	{
	padding-top: 5px;
	padding-right: 15px;
}
/*	End search classes	*/

/*	List classes	 */
.listviewspopup	{
	visibility: hidden;
	position: absolute;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=180, Strength=5);
}
.listviewspopupscroll    {
    scrollbar-3dlight-color:#8C92C6;
    scrollbar-arrow-color:#E0E0E0;
    scrollbar-base-color:#8C92C6;
    scrollbar-darkshadow-color:#8C92C6;
    scrollbar-face-color:#8C92C6;
    scrollbar-highlight-color:#E0E0E0;
    scrollbar-shadow-color:#E0E0E0;
}
.listviewspopupnormal	{
	position: relative; 
	background: #E0E0E0; 
	color: #8C92C6; 
	font-family: Tahoma; 
	font-weight: bold; 
	padding: 2px; 
	padding-left: 10px; 
	padding-right: 10px; 
	font-size: 8pt;
	cursor:hand;
	charheight:15;
	charwidth:7;
}
.listviewspopuphighlight	{
	position: relative; 
	background: #000000; 
	color: #8C92C6; 
	font-family: Tahoma; 
	font-weight: bold; 
	padding: 2px; 
	padding-left: 10px; 
	padding-right: 10px; 
	font-size: 8pt;
	cursor:hand;
	charheight:15;
	charwidth:7;
}
.listactionspopup	{
	visibility: hidden;
	position: absolute;
	filter: progid:DXImageTransform.Microsoft.dropShadow(Color=gray,offX=3,offY=3,positive=true);
	border: 1px solid #FFFFFF;
}
.listactionspopupscroll    {
    scrollbar-3dlight-color:#8C92C6;
    scrollbar-arrow-color:#E0E0E0;
    scrollbar-base-color:#8C92C6;
    scrollbar-darkshadow-color:#8C92C6;
    scrollbar-face-color:#8C92C6;
    scrollbar-highlight-color:#E0E0E0;
    scrollbar-shadow-color:#E0E0E0;
}
.listactionspopupnormal	{
	background: #8C92C6; 
	color: #FFFFFF; 
	padding: 2px; 
	padding-left: 10px;
	padding-right: 10px;
	font: normal normal bold 8pt Tahoma;
	cursor: hand;
	charheight:17;
	charwidth:7;
}
.listactionspopuphighlight	{
	background: #000000; 
	color: #FFFFFF; 
	padding: 2px; 
	padding-left: 10px;
	padding-right: 10px;
	font: normal normal bold 8pt Tahoma;
	cursor: hand;
	charheight:17;
	charwidth:7;
}
/*	End List classes	*/

/* InnerPanel classes	*/
.ipiconspopup	{
	visibility: hidden;
	position: absolute;
	border: 1px solid #FFFFFF;
}
.ipiconspopupscroll    {
    scrollbar-3dlight-color:#8C92C6;
    scrollbar-arrow-color:#E0E0E0;
    scrollbar-base-color:#8C92C6;
    scrollbar-darkshadow-color:#8C92C6;
    scrollbar-face-color:#8C92C6;
    scrollbar-highlight-color:#E0E0E0;
    scrollbar-shadow-color:#E0E0E0;
}
.ipiconspopuprownormal	 {
	background: #8C92C6; 
	color: #FFFFFF; 
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Tahoma; 
	font-size: 8pt; 
	cursor: hand;
	charheight:20;
	charwidth:7;
}
.ipiconspopuprowgray {
	background: #8C92C6; 
	color: #FFFFFF; 
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Tahoma; 
	font-size: 8pt; 
	filter: gray();
	charheight:20;
	charwidth:7;
}
.ipiconspopuprowhighlight	 {
	background: #000000; 
	color: #FFFFFF; 
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Tahoma; 
	font-size: 8pt; 
	cursor: hand;
	charheight:20;
	charwidth:7;
}
.ipactionspopup	{
	visibility: hidden;
	position: absolute;
	border: 1px solid #FFFFFF;
}
.ipactionspopuprownormal	{
	background: #8C92C6; 
	color: #FFFFFF; 
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
	font: normal normal bold 8pt Tahoma;
	cursor: hand;
	charheight:16;
	charwidth:7;
}
.ipactionspopuprowhighlight	{
	background: #000000; 
	color: #FFFFFF; 
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
	font: normal normal bold 8pt Tahoma;
	cursor: hand;
	charheight:16;
	charwidth:7;
}
.ipactionspopuprowgray {
	background: #8C92C6; 
	color: #FFFFFF; 
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
	font: normal normal bold 8pt Tahoma;
	filter: gray();
	charheight:16;
	charwidth:7;
}
/*	End InnerPanel classes	*/

/*	Detail classes	*/
.detailpagetitle1	{
	position:relative;	
	width:99%;
	height:40px;
	background-color:#FFFFFF;
}
.detailpagetitle2	{
	width:7%;
	padding-left:30px;
	padding-top:9px;
}
.detailpagetitle3	{
	color:#8C92C6;	
	padding-top:6px;
	font:normal normal normal 13pt Tahoma;
}
.detailpagetitle4	{
	color:#8C92C6;
	font:normal normal bold 8pt Tahoma;
	padding-left:5px;
	padding-top:8px;
}
.detailpagetitle5	{
	cursor:hand;	
	padding-top:6px;
}
.detailpagetitle6	{
	font:normal normal bold 8pt Tahoma;
	text-align:right;
	width:35%;
	padding-top:3px;
}
.detailpagetitle7	{
	position:absolute;
	left:9;
	top:-8;
	width:21px;
	height:1px;
	font:normal normal normal 0pt Tahoma;	
	background-color:#E0E0E0;
}
.detailpagetitle8	{
	position:absolute;
	left:62;
	top:-8;
	width:93%;
	height:1px;
	font:normal normal normal 0pt Tahoma;	
	background-color:#E0E0E0;
}
.detailviewspopup	 {
	visibility: hidden;
	position: absolute;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=180, Strength=5);
}
.detailviewspopuprownormal	 {
	position: relative; 
	background: #E0E0E0; 
	color: #8C92C6; 
	font-family: Tahoma; 
	font-weight: bold; 
	padding: 2px; 
	padding-left: 10px; 
	font-size: 8pt;
	cursor: hand;
}
.detailviewspopuprowhighlight	 {
	position: relative; 
	background: #000000; 
	color: #8C92C6; 
	font-family: Tahoma; 
	font-weight: bold; 
	padding: 2px; 
	padding-left: 10px; 
	font-size: 8pt;
	cursor: hand;
}
.inlineerrormessage{
	color: #DC143C;
}

/*	End Detail classes		*/
.loginerrormessage	{
	color: #DC143C;
}


/*	About Box Styles	*/
.aboutmain	{
	position:relative;
	width:400;
	height:380px;
}
.abouttop	{
	position:absolute;
	left:0;
	top:0;
}
.aboutleft	{
	position:absolute;
	left:0;
	top:41;
}
.aboutbottom	{
	position:absolute;
	left:0;
	top:250;
}
.aboutdetailmain	{
	position:absolute;
	left:145;		
	top:43;
	height:208px;
	width:245px;
}
.aboutdetailtop	{
	position:absolute;
	left:10;
	top:10;
	font:normal normal bold 16pt Arial Narrow;
	color:#8C92C6;
}
.aboutdetailsubtop	{
	position:absolute;
	left:10;
	top:85;
	font:normal normal bold 12pt Tahoma;
	color:#8C92C6;
}
.aboutdetailversion	{
	position:absolute;
	left:10;
	top:105;
	font:normal normal bold 8pt Tahoma;
	color:#8C92C6;
}
.aboutdetailcopyright	{
	position:absolute;
	left:2;
	top:194;
	font:normal normal normal 8pt Tahoma;
	color:#000000;
}
/*	End About Box Styles	*/

.errortext {
	border: 1px solid #FF0000;
}
.screentitle{
   	background-color:#EAEAF6;
	color: #8C92C6;
	font:normal normal bold 10pt Tahoma; 
	height:20px;
}
.popupBorder {
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #D0D0D0;
	border-bottom: 0px solid #D0D0D0;
}
/*	Menu Title Styles	*/
.menumainbar	{
	position: relative;
	top:0px;
	left:0px;
	width:100%;
	height:50px;
	background:#8C92C6;
	border:0px;
}
.menubehindbox	{
	position:absolute;
	top:34px;
	left:0px;
	width:100%;;
	height:4px;
	background:#000000;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=180, Strength=10);
	border:0px;
	z-index:1;
}
.menubox1	{
	position:absolute;
	z-index:2;
}
.menubox1box1	{
	background-color:#8C92C6;
	height:50px;
	width:100%;
	z-index:2;
}
.menutoppart	{
	height:30px;
	background-color:#8C92C6;
}
.menutopsysname	 {
	background-color:#8C92C6;
	color: #FFFFFF;
	font:normal normal normal 16pt Tahoma; 
	text-align: left;
	padding-left:10px;
	padding-top:1px;
	vertical-align:middle;
	width:8%;
}
.menutopusername	{
	text-align:right;
	background-color:#8C92C6;
	color:#FFFFFF;	
	font:normal normal bold 10pt Tahoma;
	padding-top:13px;	
	padding-right:18px;
	width:80%;
}
.menutoplogo	{
	align:right;
	background: #8C92C6;
	width:6%;
	padding-left:2px;
}
.menubox2	{
	height:20px;
}
.menubox21	 {
	background-color:#000000;
	width:8%;
	vertical-align:middle;
}
.menubox211	{
	padding-top:1px;
}
.menubox22	 {
	padding:0px;
	background:#000000;
	font:normal normal normal 8pt Tahoma;
	color:#FFFFFF;
}
.menubox221	{
	width:100%;
}
.menubox2211	{
	border:1px solid #969696;
	width:100%;	
}
.menubottommyprofileicon{
	padding-left:5px;
	padding-top:3px;
}
.menubottomhelpicon{
	padding-left:3px;
	padding-top:3px;
}
.menulevel1norm	 {
	padding-bottom:1px;
	padding-right:2px;
	padding-left:4px;
	cursor:hand;
	color:#E0E0E0;
	background-color:#000000;
	font:normal normal bold 8pt Tahoma;
	height:16px;
}
.menulevel1hl	 {
	padding-bottom:1px;
	padding-right:2px;
	padding-left:4px;
	cursor:hand;
	color:#E0E0E0;
	background-color:#8C92C6;
	font:normal normal bold 8pt Tahoma;
	height:16px;
}
.menubox222	{
	align:right;
}
.menubox2221	{
	align:right;
	padding-left:2px;
}
.menuboxcorner	{
	position:relative;
	align:right;
	top:1;
	left:0;
}
.menucornerbg {
	position:absolute;
	font:normal normal normal 0pt Tahoma;
	background-color:#000000;
	width:1px;
	height:1px;
}
.menucornerfg {
	position:absolute;
	font:normal normal normal 0pt Tahoma;
	background-color:#8C92C6;
	width:1px;
	height:1px;
}
.menulocalemainsection	 {
	visibility: hidden;
	position: absolute;
	border: 1px solid #FFFFFF;	
	padding-bottom: 2px;
}
.menulocalelistitem	{
	position: relative; 
	background: #8C92C6;
	color: #FFFFFF;
	font-family: Tahoma;
	font-weight: bold;
	padding: 2px;	
	padding-left: 10px;
	font-size: 8pt;
	cursor: hand;
}
.menuthememainsection	 {
	visibility: hidden;
	position: absolute;
	border: 1px solid #FFFFFF;	
	padding-bottom: 2px;
}
.menuthemelistitem	{
	position: relative; 
	background: #8C92C6;
	color: #FFFFFF;
	font-family: Tahoma;
	font-weight: bold;
	padding: 2px;	
	padding-left: 10px;
	font-size: 8pt;
	cursor: hand;
}
.alertdialogmainbox	{
	visibility:hidden;
	position: absolute;	
	border: 1px solid #8C92C6;
	padding-bottom: 2px;
	width:100%;
}
.alertdialogtitlebar	{
	position: relative;
	background: #8C92C6;
	color: #FFFFFF; 	
	font-family:Tahoma;
	font-weight:bold;
	padding-bottom: 2px;
	font-size: 8pt;
	width:100%;
}
.alertdialogrefreshicon	{
	cursor:hand;
	vertical-align:middle;
	align:right;
}
.alertdialogdatabox	{
	position: relative;
	background: #FFFFFF;
	color: #000000; 	
	font-family:Tahoma;
	font-weight:normal;
	padding: 2px;
	font-size: 8pt;
	cursor:hand;
}
.alertdialogdatamouseover	{
	color:#000000;
}
.alertdialogdatamouseout	{
	color:#969696;
}
.menuitempopupscroll    {
    scrollbar-3dlight-color:#000000;
    scrollbar-arrow-color:#E0E0E0;
    scrollbar-base-color:#000000;
    scrollbar-darkshadow-color:#000000;
    scrollbar-face-color:#000000;
    scrollbar-highlight-color:#E0E0E0;
    scrollbar-shadow-color:#E0E0E0;
}
.menuitempopuprownormal	{
	background: #000000; 
	color: #E0E0E0; 
	padding: 2px; 
	padding-left: 10px;
	padding-right: 10px;
	font: normal normal bold 8pt Tahoma;
	cursor: hand;
	charheight:18;
	charwidth:7;
}
.menuitempopuprowhighlight	{
	background: #8C92C6; 
	color: #E0E0E0; 
	padding: 2px; 
	padding-left: 10px;
	padding-right: 10px;
	font: normal normal bold 8pt Tahoma;
	cursor: hand;
	charheight:18;
	charwidth:7;
}
.menuiconspopupscroll    {
    scrollbar-3dlight-color:#000000;
    scrollbar-arrow-color:#E0E0E0;
    scrollbar-base-color:#000000;
    scrollbar-darkshadow-color:#000000;
    scrollbar-face-color:#000000;
    scrollbar-highlight-color:#E0E0E0;
    scrollbar-shadow-color:#E0E0E0;
}
.menuiconspopuprownormal	{
	position: relative; 
	background: #000000; 
	color: #FFFFFF; 
	font-family: Tahoma; 
	font-weight: bold; 
	padding: 2px; 
	font-size: 8pt;
	cursor: hand;
	text-align: right;
	charheight:20;
	charwidth:7;
}
.menuiconspopuprowhighlight	{
	position: relative; 
	background: #8C92C6; 
	color: #FFFFFF; 
	font-family: Tahoma; 
	font-weight: bold; 
	padding: 2px; 
	font-size: 8pt;
	cursor: hand;
	text-align: right;
	charheight:20;
	charwidth:7;
}
.menualertpopuprownormal	{
	position: relative; 
	background: #FFFFFF; 
	color: #000000; 
	font-family: Tahoma; 
	font-weight: normal; 
	padding: 2px; 
	font-size: 8pt;
	cursor: hand;
	text-align: left;
}
.menualertpopuprowhighlight	{
	position: relative; 
	background: #FFFFFF; 
	color: #969696; 
	font-family: Tahoma; 
	font-weight: normal; 
	padding: 2px; 
	font-size: 8pt;
	cursor: hand;
	text-align: left;
}
.menualerttitle	 {
	position: relative;
	background-Color: #8C92C6;
	color: #FFFFFF; 	
	font-family:Tahoma;
	font-weight:bold;
	padding: 2px;
	font-size: 8pt;width=100%;
}
 .secmenutitlebar		{
	background-color: #BDCCEA;
	font-size : small;
	font-weight : bold;
	font-family : Tahoma;
 }
.menubottomicon	{
	cursor:hand;
	vertical-align:middle;f
}
/*	End Menu Title Styles	*/
.calweekday	{
    background-color: #8C92C6;
    color: #FFFFFF;
	font:normal normal normal 8pt Tahoma;
	text-align: center;
	height:20px;
}
.calnormday {
    background-color: #FFFFFF;
    font-size: 11;
    font-family: Tahoma;
    color: #000000;
    border: 0;
    height: 17px;
	cursor:hand;
}
.caltoday {
    background-color: #FFFFFF;
    font-size: 11;
    font-family: Tahoma;
    color: #000000;
    border: 0;
    height: 17px;
	border: 1px solid #969696;
	cursor:hand;
}
.calmain	{
	background-color:#FFFFFF;
	padding-top:10px;
}
.calblank	 {
   background-color: #FFFFFF;
 }
.secondaryinnerpaneltitle {
	font:normal normal bold 11pt Tahoma; 
	text-align: left;
	background-color:#969696; 
	color:#FFFFFF; 
	height:20px;
}

.totalrecordstext {
	font-size: 11;
	font-family: Tahoma;
    font-weight: bold;
	color: #8C92C6;
	border: 0;
	height: 16px;
    text-align: right;
}
</style>
