

/*******************************************************************************
 * IBM Confidential 
 * OCO Source Materials 
 * IBM Sterling Order Management(5725-D10), IBM Order Management (5737-D18) 
 * (C) Copyright IBM Corp. 2019 All Rights Reserved. 
 * The source code for this program is not published or otherwise divested of its trade secrets, 
 * irrespective of what has been deposited with the U.S. Copyright Office.
 ******************************************************************************/

.loginView{
height: 350px;
padding-top: 20px;
font-size: 15;
color: black;
padding-left: 10px;
width: 400px;
margin-left: 600px;
}
.loginPanel{
background-color: black;
color: white;
height: 50px;
margin-right: 10px;
font-size: 20px;
padding-top: 12;
padding-left: 110px;
padding-right: 110px;
}
.credentialsPanel{
margin-top: 30px;
margin-left: 30px;
margin-right: 30px;
}
.inputBox{
width: 100%;
height: 40;
border-bottom-color: aliceblue;
}
.loginButtonPannel {
margin-top: 50px;
margin-left: 150px;
margin-right: 150px;
}
.loginButton{
height: 40px;
height: 80;
width: 100px;
background-color: black;
color: white;
}
.queryDisplayPanel{
background-color: #f8f8f8;
min-height: 30px;
padding-top: 10px;
padding-left: 10px;
}
.resultPanel{
margin-top: 20px;
/* width: -moz-max-content; */
border: 1px solid #e3dddd;
border-style: dashed;
/* border-radius: 10px; */
padding: 10px;
}


#QueryResult{
/* border-collapse:collapse; */
max-height: 600px;
min-height: 80px;
width: inherit;
/* overflow-x: scroll; */
overflow-y: scroll;
display: block;
border-spacing: 0px;
border-top: 1px solid black;
border-right: 1px solid black;
}



#QueryResult tbody th {
   color: white;
   height: 40px;
   background-clip: padding-box; 
   background-color: #6c7ae0;
   padding-left:5px;
   border-left: 1px solid black;
	border-bottom: 1px solid black;
	position: sticky;
    top: 0px;
}

#QueryResult tbody td{
 height: 25px;
 font: caption;
color: #505253;
border-left: 1px solid #c0c0c0;
border-bottom: 1px solid #c0c0c0;
}

body {
	padding-left:5px;
	padding-right:5px;
}
.queryLabel{
padding-top: 10px;
padding-bottom: 10px;
padding-left: 5px;
border: 1px solid #aab0da;
color: #ffffff;
background-color: #838390;
border-radius: 5px;
text-align:center;
font-size: large;
}
.lastRunLabel{
padding-top: 10px;
padding-bottom: 10px;
padding-left: 5px;
border: 1px solid #aab0da;
color: black;
/* background: #6c7ae0; */
border-radius: 5px;
/* text-align:center; */
}
.queryArea{
/* border-radius: 10px 10px; */
padding: 20px;
box-shadow: 10px;
/* border-style: dashed; */
height: 150px}

#submitButton{
width: 150px; 
height:30%;
cursor:pointer;
margin-top: 10px;
background-color: #6c7ae0;
color: white;
border-radius: 10px;
}
.lastRunQueryPanel{
/* min-height: 50px; */
max-height: 242px;
overflow-y: scroll;
background-color: #f8f8f8;
overflow-x: hidden;
display: none;
width: 100%;
}

.lastRunQueriesTable{
    width: -moz-available;
   /*  border: 1px solid #e0d7d7; */
    border-radius: 10px;
    padding: 10px;
    }
 
 .headerTable{
 background: #6c7ae0;
 padding-bottom: 5px;
 padding-top: 5px;
 color:white;
 -webkit-border-radius: 5px 5px 5px 5px;
 }
 .detailsPanel{
 box-shadow: inset -4px 0 4px -2px rgba(0,0,0,0.30);
padding: 10px;
background-color: #f8f8f8;
}
.paginationButton{
width: 100px;
height: 30px;
cursor: pointer;
margin-top: 10px;
background-color: #6c7ae0;
color: white;
border-radius: 10px;
margin-bottom: 10px;
}
.downloadButton{
width: 110px;
height: 35px;
cursor:  pointer;
margin-top: 10px;
color: white;
background-color: #6c7ae0;
border-radius: 10px;
margin-bottom: 10px;
}
button > img {
vertical-align: middle;
}
button > span {
  vertical-align: middle;
  padding-right:5px;
}


.collapsible{
/* background-color: #6c7ae0; */
color: white;
/* align-self: left; */
border-collapse: collapse;
border: none;
font-size: larger;
float: left;
padding-right: 10px;
}
#collapse:hover{
cursor:pointer;
}
.loginInput{
border: 2px solid #D4D6E6;
/* border-radius: 5px; */
height: 25px;
width: 150px;
margin-left:5px;
}
.loginBox{
/* display: grid; */
margin-top: 10px;
margin-bottom: 10px;
padding: 10px;
}
.loginLabel{
padding-bottom: 5px;
padding-top: 5px;
color: #555559;
}
.loginContainer{
background-color: #f8f8f8;
border-radius: 10px;
}
.lastRunQuery{
padding: 10px;
background-color: #f8f8f8;
border-radius: 4px;
Display: flex;
}

.dot {
height: 12px;
width: 16px;
background-color: #0f9348;
border: 1px solid #14da6a;
border-radius: 50%;
display: inline-block;
margin-right: 15px;
margin-top: 2px;
color: white;
padding-bottom: 7px;
cursor: pointer;
font-weight: bold;
}
.redDot {
height: 10px;
width: 10px;
background-color: #ce491e;
border: 1px solid #f0754d;
display: inline-block;
margin-left: 15px;
margin-top: 2px;
color: white;
cursor: pointer;
float:left;
margin-right: 10px;
}
.paginationText{
width: 120px;
margin-left: 10px;
margin-right: 10px;
}
.icons{
margin-right:5px;
cursor: pointer;
}

#fade  {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #ababab;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .70;
	filter: alpha(opacity = 80);
}

#modal {
	display: none;
	position: absolute;
	top: 45%;
	left: 45%;
	width: 175px;
	height: 110px;
	padding: 30px 15px 0px;
	border: 3px solid #ababab;
	box-shadow: 1px 1px 10px #ababab;
	border-radius: 20px;
	background-color: white;
	z-index: 1002;
	text-align: center;
	overflow: auto;
}

.modalRetry {
	width: 100;
}

.lastRunQuery {
  width: 1000px;

  /* BOTH of the following are required for text-overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}